[Unit]
Description=Authenticate by human biometric
Documentation=https://github.com/ukui/biometric-authentication
Before=lightdm.service

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=org.ukui.Biometric
ExecStart=/usr/lib/biometric-authentication/biometric-authenticationd

[Install]
WantedBy=multi-user.target
